@charset "utf-8";
/* CSS Document */

.business-heading
{
	position:relative;
	text-align:center;
	padding-top:50px;

		
}

.row
{
	margin-top:50px;	
}
.business-text
{
	
	text-align:center;
}

.business-box
{
	
	float:left;
	margin:0 auto;
	
}
.business-wrapper
{
	text-align:center;	
}
.col-sm-4
{
	

}
@media (min-width: 992px)
{
    .col-md-offset-1-and-half {
		margin-left:16.66666%;
      // margin-left: 12.499999995%;// col-md-offset-1 has 8.33333333 
        // so you multiply 8.33333333 * 1.5 = 12.499999995%
    }
}

