@charset "utf-8";
/* CSS Document */

.menu-dropdown
{
	position:relative;
	display: inline-block;
}

.menu-abtus-dropdown-content
{
	
	display:none;
	position:absolute;
	left:-64px;
	background-color:#ffffff;
	min-width:600px;
	height:170px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 0px;
	z-index:1;
	border:0px solid #ccc;
}

.menu-businesses-dropdown-content
{
	
	display:none;
	position:absolute;
	left:-158px;
	background-color:#ffffff;
	min-width:600px;
	height:170px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index:1;
	font-weight:none;
}


@media only screen and (min-width: 768px)
{
		
	.menu-dropdown:hover .menu-abtus-dropdown-content
	{
		display:block;
	}
	.menu-dropdown:hover .menu-businesses-dropdown-content
	{
		display:block;
	}
	
	.menu-dropdown:hover .menu-businesses-dropdown-content .submenu-right
	{
			position:fixed;
			right:8%;
			top:170px;
			width:120px;

	}
	
	.menu-dropdown:hover .menu-businesses-dropdown-content .submenu-left
	{
			float:left;
			width:370px;
	}
	.menu-dropdown:hover .menu-abtus-dropdown-content .submenu-left
	{
			float:left;
			width:170px;
			font-family:"Lato","PT Sans","Tahoma", Helvetica Gotham,  Helvetica, Arial, sans-serif ;
	}


	.menu-dropdown:hover .menu-abtus-dropdown-content .submenu-mid
	{
			
			position:relative;
			font-family:"Lato","PT Sans","Tahoma", Helvetica Gotham,  Helvetica, Arial, sans-serif ;
	
			left:30%;
			top:-10px;
/*			width:230px;*/
			width:35%;
	}
	.menu-dropdown:hover .menu-abtus-dropdown-content .submenu-right
	{
			position:fixed;
			right:7%;
			margin-right:1%;
			top:170px;
			width:120px;

			

			
	
	}
	.submenu
	{
		position:absolute;
		top:0px;
		padding-left:0px;
	
	}
	.submenu-list
	{
		padding:10px;
		border-bottom:2px solid #ccc;
		cursor: pointer;
		transition: background 0.3s;
	}
	.submenu-list:after
	{
		
	}
	
	.submenu-list:hover
	{
		
		background-color:#c39212;
		color:#fff;
	}
}
.navbar-shiftdown
{

	position:relative;
	top:50px;
}
#logo-and-title
{
	position:relative;
	left:80px;
	top:0px;
	
}
#logos-title
{

	position:relative;
	top:-80px;
	left:140px;
	color:#156b9a;
	font-weight: bold;
}
.hamburg-menu-offset
{
	position: relative;
	top:40px;
}
@media only screen and (max-width: 900px)
{
	#logo-and-title
	{
		position:relative;
		left:20px;
		top:0px;
	
	}
	#logos-title
	{
		font-size:1em;
	
	}

}

@media only screen and (max-width: 400px)
{
	#logos-title
	{
		display:none;
	
	}


}
.submenu-desc-dynamic
{
	
	
			font-family:"Lato","PT Sans","Tahoma", Helvetica Gotham,  Helvetica, Arial, sans-serif ;
	

}











