@charset "utf-8";
/* CSS Document */

.menu-dropdown
{
	position:relative;
	display: inline-block;
}

.menu-abtus-dropdown-content
{
	
	display:none;
	position:absolute;
	left:-106px;
	background-color:#ffffff;
	min-width:760px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 0px;
	z-index:1;
}

.menu-businesses-dropdown-content
{
	
	display:none;
	position:absolute;
	left:-200px;
	background-color:#ffffff;
	min-width:760px;
	height:164px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index:1;
	text-weight:none;
}


.menu-dropdown:hover .menu-abtus-dropdown-content
{
	display:block;
}
.menu-dropdown:hover .menu-businesses-dropdown-content
{
	display:block;
}
.menu-dropdown:hover .menu-businesses-dropdown-content .submenu-right
{
		float:right;
}

.menu-dropdown:hover .menu-businesses-dropdown-content .submenu-left
{
		float:left;
		width:600px;
}
.menu-dropdown:hover .menu-abtus-dropdown-content .submenu-left
{
		float:left;
		width:170px;
}
.menu-dropdown:hover .menu-abtus-dropdown-content .submenu-mid
{
		
		width:100px;
}
.menu-dropdown:hover .menu-abtus-dropdown-content .submenu-right
{
		float:right;
		padding-right:10px;
}
.submenu
{
	position:absolute;
	top:0px;
}
.submenu-list
{
	padding:10px;
	border-bottom:1px solid #000;
    cursor: pointer;
	transition: background 0.3s;
}
.submenu-list:after
{
	
}

.submenu-list:hover
{
	
	background-color:#854485;
	color:#fff;
}













