@charset "utf-8";
/* CSS Document */
#logo
{

}
.header-height
{
	
}

.gr1-header
{
	
	background-color:#FFFFFF;
}

.gr1-menu-make-bold
{
	
	font-weight:bold;
	
	
}
.gr1-menu-make-bold:hover
{
	text-color: #c39212;
	border-bottom:3px solid #c39212;
	
}

.gr1-carousel-slide
{
	padding-top:50px;
}

.efg-translucent
{

	background-color:#000000;
    opacity: .50; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    filter: alpha(opacity=50); /* IE lt 8 */
    -ms-filter: "alpha(opacity=50)"; /* IE 8 */
    -khtml-opacity: .50; /* Safari 1.x */
    -moz-opacity: .50; /* FF lt 1.5, Netscape */
}
.text-center
{
	text-align:center;
	margin:auto;
}



/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}

.navbar-custom-height
{


}
.navbar-default
{
	background-color:#ffffff;
		
}
.nav-drop-shadow
{

    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
	min-height:150px;
}

#logo
{
	position:absolute;
	top:15px;
	left:200px;
}
.container-pad-top
{
	padding-top:50px;	
}

footer
{
	text-align:center;
}

.pad-top
{
	padding-top:100px;
}
.pad-bottom
{
	padding-bottom:50px;
}
.center-align-text
{
	
	text-align:center;
}
.img-center-align
{
	position:relative;
	left:30%;
}
.panel {
    border: none;
    box-shadow: none;
}
